.header {
  width: 100%;
  height: 5rem;
  background-color: #1659f6;
  padding: 0 10%;
  display: flex;

  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg, #0c0611, #040205);
}
body {
  padding: 0;
  margin: 0;
}
