.Illustration {
  /*image utilisé*/
  background-image: url(../images/weather.jpeg);

  /* Centrer l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  justify-content: center;
}
