/* Image plein écran */

.ItemCityIllustration {
  background-image: url(../images/Day.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
}

.Date {
  display: flex;
  justify-content: flex-end;
}
